.appName {
	color: white;
	font-size: 5em;
}

.mainBox {
	width: 1000px;
	height: 500px;
	margin: 0 auto;
	margin-top: 100px;
	display: block;
	position: relative;
	color: white;
	font-size: 12px;
}

.start {
	margin: 0 auto;
}

body {
	background-image: url(city-bike.jpg);
	background-size: cover;
}

/* This should go over the map, currently not working.. window.onload issue? */
.getStarted {
	position: absolute;
	height: inherit;
	width: inherit;
	z-index: 10;
}

#map-canvas {
	width: 100%;
	height: 100%;
}