.appName {
	font-family: Impact;
	letter-spacing: 7px;
	font-variant: small-caps;
	text-align: center;
	color: white;
	font-size: 5em;
	width: 400px;
	height: auto;
	background-color: #28d3c5;
	display: block;
	border-radius: 15px;
}

.addyForm {
	width: 400px;
	margin: 0 auto;
	margin-top: 50px;
	display: none;
}

#addyBox {
	width: 300px;
	height: 30px;
}

.directionsBox {
	margin-left: 30px;
	height: 500px;
	width: 300px;
	background-color: white;
	display: inline-block;
	visibility: hidden;
	overflow: scroll;
}

#directionsPanel {
	background-color: white;
}

.mainBox {
	width: 1000px;
	height: 500px;
	margin: 0 auto;
	margin-top: 40px;
	display: inline-block;
	position: relative;
	color: white;
	font-size: 12px;
	text-align: center;
	padding-left: 40px;
	background-color: black;
	opacity: .8;
	border-radius: 20px;
}

.placesList {
	height: 500px;
	width: 300px;
	background-color: white;
	display: inline-block;
	overflow: scroll;
	visibility: hidden;
}

.listItems {
	margin-top: 10px;
}

.item {
/*	border-top: 2px solid grey;
*/	border-bottom: 2px solid grey;
	padding-top: 15px;
	padding-bottom: 10px;
}

body {
	background-image: url(city-bike.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.getStarted {
	margin-top: 50px;
	position: absolute;
	height: 90%;
	width: 90%;
	z-index: 99999;
}
 #getStartedBtn {
 	margin: 0 auto;
 	width: 70%;
 	opacity: 1;
 }

#map-canvas {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
}

.placesMarker {
	height: 20px;
	width: auto;
}